pkgbase = dwm
	pkgdesc = A dynamic window manager for X
	pkgver = 6.8
	pkgrel = 6
	url = https://dwm.suckless.org
	install = dwm.install
	arch = i686
	arch = x86_64
	arch = arm
	arch = armv7h
	arch = armv6h
	arch = aarch64
	license = MIT
	depends = libx11
	depends = libxinerama
	depends = libxft
	depends = freetype2
	options = zipman
	source = https://dl.suckless.org/dwm/dwm-6.8.tar.gz
	sha256sums = bcf540589ad174d4073f4efa658828411e2f5ba63196cfaf6b71363700f590b7

pkgname = dwm
