[Desktop Entry]
Name=DWM Rice
Comment=Dynamic window manager with Pywal desktop shell
Exec=/home/kristyan/src/dwm/scripts/start-session
Icon=dwm
Type=XSession
